// Global styling for this template

body {
  @include body-font;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: px-to-rem(32px);
  @include media-breakpoint-up(xl){
    font-size: px-to-rem(72px);
    line-height: px-to-rem(84px);
  }
  &.page-title {
    color: $light;
    border: 3px solid $light;
    padding: px-to-rem(9px) px-to-rem(20px);
    display: inline-block;
    margin-bottom: 0;
    border-radius: $border-radius;
    @include media-breakpoint-up(xl) {
      padding: px-to-rem(18px) px-to-rem(40px);
      border: 5px solid $light;
    }
  }
}

h2 {
  font-size: px-to-rem(36px);
  line-height: px-to-rem(42px);
  margin-bottom: px-to-rem(30px);
}

h3 {
  font-size: px-to-rem(24px);
  line-height: px-to-rem(28px);
}

h4, h5, h6 {
  @include pixel-rem(18, 21);
}

p.lead {
  font-size: px-to-rem(21px);
  line-height: px-to-rem(25px);
  font-weight: 400;
  margin-bottom: px-to-rem(20px);
}

.subheading {
  text-transform: uppercase;
  @include heading-font;
}
