// Hamburger Icon Animation
// @link https://codepen.io/RRoberts/pen/ZBYaJr
.hamburger .icon-bar {
  width: 40px;
  height: 4px;
  background-color: $light;
  border-radius: 2px;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:nth-of-type(2) {
    width: 25px;
    margin: 0 auto;
  }
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.active .icon-bar:nth-child(2) {
  opacity: 0;
}

#hamburger-1.active .icon-bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

#hamburger-1.active .icon-bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
