/** Site Inner 
------------------------------------------------------------------------------ */
.site-inner {
  @include media-breakpoint-up(lg) {
    padding-left: $sidebar-base-width;
  }
}
section.resume-section {
  flex-direction: column;
  padding:30px;
  @include media-breakpoint-up(lg) {
    padding: 60px;
  }
  max-width: 75rem;
  .resume-item {
    .resume-date {
      min-width: none;
    }
  }
  .nav, .dropdown {
    margin-bottom: 60px;
  }
}
@include media-breakpoint-up(lg) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}

// Our Team
#section-our-team {
  flex-direction: column;
}
.featured-member {
  margin-bottom: 60px;
  h3 {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(28px);
    text-transform: unset;
    margin-bottom: px-to-rem(15px);
  }
  p {
    &.lead {
      font-weight: 300;
      color: $secondary;
      font-size: px-to-rem(18px);
      line-height: px-to-rem(21px);
      margin-bottom: px-to-rem(15px);
    }
  }
  .profile-button {
    text-transform: uppercase;
    color: $primary;
    font-size: px-to-rem(14px);
    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

// Team List
.team-list {
  font-size: px-to-rem(12px);
  line-height: px-to-rem(14px);
  .team-member {
    margin-bottom: px-to-rem(20px);
    position: relative;
    .glightbox {
      position: absolute;
      left: 0;
      top: 0;
      text-indent: -9999em;
      width: 100%;
      height: 100%;
    }
  }
  .member-image {
    margin-bottom: 5px;
  }
  h4 {
    font-size: px-to-rem(16px);
    line-height: px-to-rem(19px);
  }
}

// Single Member Profile
.member-profile {
  color: $light;
  background: $primary;
  padding: px-to-rem(60px);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  @include media-breakpoint-up(md) {
    width: 50vw;
  }
  h3 {
    text-transform: unset;
    @include pixel-rem(36, 30);
    color: $light;
  }
  p {
    font-size: px-to-rem(21px);
    line-height: px-to-rem(25px);
    margin-bottom: px-to-rem(30px);
  }

  h4 {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(28px);
    margin-bottom: px-to-rem(30px);
  }

  h5 {
    font-size: px-to-rem(14px);
    line-height: 1;
  }

  .profile-close {
    padding: px-to-rem(5px);
    width: 60px;
    height: 60px;
    position: absolute;
    right: -60px;
    top: 0px;
    background: $primary;
  }
}

// Portfolio
#section-portfolio {
  flex-direction: column;
  .nav {
    margin-bottom: px-to-rem(60px);
    .nav-link {
      @include pixel-rem(18, 21);
      text-transform: uppercase;
      padding: 0 10px;
    }
  }
  .sidebar, .portfolio-image-overlay {
    color: $light;
    background: $primary;
    padding: px-to-rem(60px);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    height: 100%;
    min-height: 100%;
    text-align: center;
    @include media-breakpoint-up(md) {
      width: 50vw;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }

    .portfolio-information {
      position: absolute;
      left: 0;
      bottom: 0;
      width: calc(100%);
      padding: 30px 60px;
      background: rgba($light, 0.25);
      .portfolio-link {
        a {
          display: flex;
          align-items: center;
          color: #eceeec;
          transition: color .2s ease-in-out;
          justify-content: center;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

.portfolio {
  font-size: px-to-rem(12px);
  line-height: px-to-rem(14px);
  margin-bottom: px-to-rem(20px);
  .portfolio-image {
    margin-bottom: 5px;
  }
  h4 {
    font-size: px-to-rem(12px);
    line-height: px-to-rem(14px);
    color: $secondary;
    text-transform: unset;
  }
  .glightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }
}

// Testimonial
.testimonial {
  font-size: px-to-rem(16px);
  line-height: px-to-rem(21px);
  font-weight: 300;
  margin-bottom: px-to-rem(60px);
  .testimonial-content {
    position: relative;
    padding: 30px;
    background: $light;
    &::before {
      content: "\201C";
      display: block;
      position: absolute;
      left: 0;
      top: -15px;
      color: rgba($primary, 0.25);
      font-size: px-to-rem(72px);
      line-height: px-to-rem(72px);
      font-weight: 900;
    }
  }
  .testimonial-title {
    font-size: px-to-rem(24px);
    line-height: px-to-rem(28px);
    text-transform: unset;
  }
  .subheading {
    text-transform: uppercase;
    font-size: px-to-rem(14px);
    line-height: px-to-rem(16px);
    font-weight: 300;
    color: $secondary;
    margin-bottom: 0;
  }
}

.featured-testimonial {
  @include pixel-rem(24px, 30px);
  font-weight: 400;
  color: $light;
  text-align: left;
  blockquote {
    margin-bottom: 60px;
    position: relative;
    &:before {
      @include pixel-rem(120px);
      content: "\201C";
      display: block;
      position: absolute;
      left: -20px;
      top: -50px;
      color: rgba($light, 0.5);
      font-weight: 900;
    }
  }
  .media {
    &-body {
      @include pixel-rem(18, 21);
      color: $light;
      h5 {
        @include pixel-rem(24px, 28px);
        color: $light;
      }
    }
  }
}

// About Page
#section-about,
#section-skills,
#section-tools,
#section-experience {
  flex-direction: column;
  .nav-link, .dropdown {
    @include pixel-rem(18, 24);
    text-transform: uppercase;
  }
  .nav-link {
    padding: 0 10px;
  }
}

.section-about {
  p {
    &.lead {
      @include media-breakpoint-up(md) {
        @include pixel-rem(36, 42);
      }
      font-weight: 300;
      margin-bottom: 30px;
    }
  }
}

// Services Page
#section-services {
  padding: 0 !important;
  flex-direction: column;
  .service {
    @include media-breakpoint-up(sm) {
      @include pixel-rem(21, 25);
    }
    min-height: calc(100vh / 3);
    padding: 30px;
    background: #fff;
    &.selected, &:hover {
      background: $light;
    }
    .media {
      margin-bottom: 0px;
      svg {
        stroke-width: 1px;
      }
    }
    h3 {
      @include media-breakpoint-up(sm) {
        @include pixel-rem(36, 42);;
      }
    }
    .lead {
      @include media-breakpoint-up(sm) {
        @include pixel-rem(24, 28);
      }
      text-transform: capitalize;
      color: $secondary;
      font-weight: 300;
    }
  }
  .sidebar {
    color: $light;
    background: $primary;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @include media-breakpoint-up(lg) {
      width: 50vw;
    }
  }
}
.sidebar {
  padding: 0;
  & > div.w-100 {
    padding: 30px;
    @include media-breakpoint-up(lg) {
      padding: 60px;
    }
  }
  .sidebar-toggle {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 0;
    border: none !important;
    background: rgba($light, 0) !important;
    
    &:hover, &:focus {
      background: rgba($light, 0) !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
    &:hover {
      .icon-bar {
        &:nth-of-type(2) {
          opacity: 1;
          width: 50px;
        }
        &:nth-of-type(1), &:nth-of-type(3) {
          width: 40px;
        }
        &:nth-of-type(1) {
          -webkit-transform: translateX(-10px) rotate(-45deg);
          -ms-transform: translateX(-10px) rotate(-45deg);
          -o-transform: translateX(-10px) rotate(-45deg);
          transform: translateX(-10px) rotate(-45deg);
        }
        &:nth-of-type(3) {
          -webkit-transform: translateX(-10px) rotate(45deg);
          -ms-transform: translateX(-10px) rotate(45deg);
          -o-transform: translateX(-10px) rotate(45deg);
          transform: translateX(-10px) rotate(45deg);
        }
      }
    }
  }
  .icon-bar {
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  .icon-bar:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  .icon-bar:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
}

// Homepage
#section-home {
  display: none !important;
  h1 {
    @include media-breakpoint-up(sm) {
      @include pixel-rem(60, 71);
    }
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .subheading {
    @include pixel-rem(21, 25);
    font-weight: 300;
    margin-bottom: 15px;
  }
}

.section-our-process {
  h3 {
    @include pixel-rem(24, 28);
    text-transform: unset;
    margin-bottom: 12px;
  }
  p {
    @include pixel-rem(16, 19);
    font-weight: 300;
    color: $secondary;
  }
  svg {
    stroke-width: 1px;
  }
}

.home {
  .navbar {
    width: 100vw;
  }
  .site-inner {
    padding-left: 0;
  }
  #sideNav {
    width: 100vw;
  }
  .position {
    @include media-breakpoint-up(sm) {
      @include pixel-rem(24,24);
    }
    .position-name {
      display: inline-block;
      padding: 0 10px;
      position: relative;
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        background-color: $light;
        display: block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -2px;
        margin-left: -2px;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
  }
}

// Thank You Page / Error Page
#section-thank-you,
#section-error {
  flex-direction: row;
}