// Variables

$primary:#222222 !default;
$secondary:#666666 !default;
$success:#333333 !default;
$danger:#434343 !default;
$info:#515151 !default;
$warning:#5f5f5f !default;
$light:#eceeec !default;
$dark:#111111 !default;

$border-radius: 8px;
$border-radius-lg: $border-radius;

$grid-gutter-width: 20px;

// Fonts
// $font-size-base: 0.625rem;

// Buttons
$btn-border-radius: $border-radius;
$btn-padding-y: px-to-rem(10px);
$btn-padding-x: px-to-rem(20px);
$btn-font-size: px-to-rem(21px);
$btn-line-height: px-to-rem(21px);
$btn-border-width: 2px;
$btn-border-radius-sm: 0;

// Page Variables

$sidebar-base-width: 17rem;
